<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sell My Car</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Vue CDNs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4.5.1/dist/vue-router.global.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="style.css" />
  </head>

  <body id="app">
    <div v-if="isLoading">
      <p>Loading..</p>
    </div>
    <div v-else class="mainGrid">
      <header class="Nav">
        <p class="stateBox">{{formatState(data.state)}}</p>
        <p class="navText m-0">Hi {{data.username}}!</p>
      </header>
      <main>
        <!-- Listings Section -->
        <div class="row justify-content-center">
          <div class="col-10">
            <h1 class="header m-0 mb-2">Trusted, Secure Transactions</h1>
            <h1 class="header m-0 mb-2">Fast and Hassle-Free Process</h1>
            <h1 class="header m-0 mb-2">
              Better Offers Through Dealer Competition
            </h1>
            <h1 class="header m-0 mb-2">Your Listings</h1>
            <div v-if="listings.length == 0">
              <div class="row justify-content-center">
                <div
                  class="col-8 d-flex justify-content-center flex-column align-items-center"
                >
                  <img class="carImg" src="img/broken_down_car_edge.svg" />
                  <h2 class="subText">You currently have no listings!</h2>
                  <h5 class="subText">
                    Click the button above to list your first car!
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="Footer">
        <!-- place footer here -->
      </footer>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>

    <!-- Supabase JS -->
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <!-- My JS -->
    <script src="js/userMain.js"></script>
  </body>
</html>
